<%= content_for(:title, "Home | Twitter Clone") %>

<h1>Twitter Clone</h1>

<%= link_to "Create Account", new_user_path, :class => "btn btn-primary" %> or
<%= link_to "Log In", new_session_path, :class => "btn btn-primary" %>
